

.newsCard {
    background-color: white;
    padding: 1%;
    border-radius: 2%;
    width: 100%;
    flex: "true";
    margin-bottom: 5%;

}

.btnCard{
    width: 100%;
    justify-content: space-between;
    flex: auto;
    flex-direction:initial;
}

.imgNews {
    width: 100%;
    height: auto;
}